body {
  margin: 0;
  font-family: RobotoInCjk, 'Noto Sans KR', 'Apple SD Gothic Neo',
    'Nanum Gothic', 'Malgun Gothic', sans-serif;
  background-color: #222222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}
p {
  font-family: inherit;
}
span {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Montserrat', 'Noto Sans kr', sans-serif;
}

input {
  border: none;
  font-family: 'Montserrat', 'Noto Sans kr', sans-serif;
  font-weight: 500;
}
