.profile-main {
  button {
    background: none;
  }
  h3 {
    padding: 15px 0;
    font-weight: bold;
  }
  section {
    background-color: white;
    .profile-info {
      background-color: #121212;
      box-shadow: 0px 4px 8px -4px #3b3b3b;
      & > div {
        display: flex;
        width: 980px;
        margin: 0 auto;
        position: relative;
        padding-top: 40px;
        .user-image-wrapper {
          display: flex;
          width: 40%;
          justify-content: center;
          .user-image-box {
            background-image: url(../images/github.png);
            background-size: contain;
            background-color: rgb(138, 138, 138);
            border-radius: 50%;
            position: relative;
            width: 250px;
            height: 250px;
            border: 2px solid rgb(255, 255, 255);
            // margin: 0 auto;
            .custom-thumbnail-input {
              visibility: hidden;
              height: 0;
            }
            .custom-thumbnail-label {
              cursor: pointer;
              border-radius: 150px;
              height: 0 !important;
              // @include Flex();
              .profile-thumb {
                -webkit-user-drag: none;
                -moz-user-drag: none;
                user-select: none;
                width: 100%;
                height: 100%;
                border-radius: 150px;
                display: flex;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                &:hover {
                  filter: grayscale(30%);
                  &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    background-image: url(../images/camera_icon.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 20%;
                    background-color: rgba(235, 235, 235, 0.5);
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                    transform: translate(-50%, -50%);
                  }
                }
              }
            }
          }
        }
        .user-info-box {
          color: white;
          width: 60%;
          padding: 70px 70px;
          .user-profile {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            align-items: center;
          }
          input {
            color: black;
            width: 70%;
            padding: 10px 15px;
            border-radius: 3px;
            background-color: #5a5a5a8a;
            color: white;
            font-size: 0.8rem;
            font-weight: normal;
          }
          .modify {
            display: block;
            // margin: 0 auto;
            padding: 10px 40px;
            border-radius: 30px;
            margin-top: 50px;
            background-color: transparent;
            border: 2px solid #6100ff;
            transition: 0.3s;
            &:hover {
              background-color: #6100ff;
            }
          }
        }
      }
    }
    .profile-full-info {
      width: 980px;
      margin: 0 auto;
      padding-top: 100px;
      .cont {
        margin-bottom: 130px;
      }
      .profile-info-cont1 {
        & > div {
          border: 2px solid #b3b3b36c;
          border-radius: 5px;
          padding: 20px 0;
          text-align: center;
          color: #6100ff;
          line-height: 2rem;
        }
      }
      .profile-info-cont3 {
        ul {
          padding: 25px 40px 0 40px;
          display: flex;
          justify-content: space-around;
          li {
            p:nth-of-type(1) {
              color: #641ed4;
              font-weight: bold;
              font-size: 1rem;
              margin-bottom: 20px;
            }
            p:nth-of-type(2) {
              color: #646464;
              font-size: 0.8rem;
            }
          }
        }
      }
      .profile-info-cont4 {
        ul {
          padding: 25px 40px 0 40px;
          display: flex;
          justify-content: space-around;
          li {
            p:nth-of-type(1) {
              color: #000000;
              font-weight: bold;
              font-size: 1rem;
              margin-bottom: 20px;
            }
            p:nth-of-type(2) {
              color: #646464;
              font-size: 0.8rem;
            }
          }
        }
      }
      .profile-info-cont5 {
        position: relative;
        margin-bottom: 0;
        padding-bottom: 130px;
        ul {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          li {
            width: calc(100% / 5 - 30px);
            border-radius: 5px;
            border: 1px solid rgb(226, 226, 226);
            img {
              width: 100%;
              border-radius: 5px;
            }
          }
        }
        button {
          position: absolute;
          top: 25px;
          right: 0;
          color: #6100ff;
          font-size: 0.8rem;
        }
      }
    }
  }
}
