.signin_wrapper {
  width: 100%;
  height: 100vh;
  .backgroundImg {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -10;
  }

  .background {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
  }
  h1 {
    margin: 0;
    padding: 60px 0;
    text-align: center;
  }

  .login_form {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -250px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 80px 80px;
    box-sizing: border-box;

    h2 {
      color: white;
      text-align: center;
      font-size: 2em;
      margin: 0 0 30px 0;
    }

    form {
      padding: 0px 30px;
      fieldset {
        border: 0;
      }
      legend {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
      }
      input {
        display: block;
        width: 100%;
        height: 41px;
        padding: 0 10px;
        border: 0;
        font-size: 12px;
        box-sizing: border-box;
        &:nth-of-type(2) {
          margin-top: 10px;
          margin-bottom: 60px;
        }
      }
      button {
        background: none;
        &.kakao_btn {
          background-image: url(../images/kakao.svg);
        }
        &.google_btn {
          background-image: url(../images/google.svg);
        }

        display: block;
        margin: 0 auto;
        border: 0;
        color: white;
        font-size: 17.5px;
        font-weight: 900;
        width: 100%;
        height: 41px;
        border-radius: 50px;
        cursor: pointer;
        background-size: contain;
        &.signup_btn {
          background-color: #4e4e4e;
          margin-top: 17px;
        }
        &.login_btn {
          background-color: #6100ff;
        }
      }
      .naver_btn {
        img {
          border-radius: 50px;
        }
      }

      .social_btn {
        p {
          color: rgba(255, 255, 255, 0.5);
          font-size: 0.7rem;
          margin-top: 1em;
        }
        ul {
          padding: 0;
          list-style: none;
          margin-top: 20px;
          overflow: hidden;
          li {
            float: left;
            width: calc(100% / 2);
            button {
              text-indent: -9999px;
              width: 45px;
              height: 45px;
            }
          }
        }
        // background-color: pink;
        border-top: 1px solid rgba(144, 144, 144, 0.5);
        width: 100%;
        margin-top: 50px;
      }
      // margin: 50px 0;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
    }
  }
}
