.confirm-popup {
  position: absolute;
  z-index: 100;
  top: 30%;
  width: 400px;
  background-color: #fff;
  padding: 30px;
  display: none;
  legend {
    font-weight: 600;
  }
  input {
    background-color: #bebebe;
    margin-bottom: 20px;
    padding: 0 15px;
    width: 220px;
    height: 40px;
    border-radius: 3px;
    box-sizing: border-box;
  }
  button {
    background-color: #6100ff;
    color: #fff;
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 20px;
  }
  .cancel {
    background-color: #4e4e4e;
    margin: 0;
  }
}
