.search-button {
  button {
    width: 35px;
    height: 32px;
    background: url(../images/search.png) no-repeat 0 0;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 0;
  }
}
